aiofiles==24.1.0
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl#sha256=5e6329fe3fecedb1d1a02c3ea2172ee0fede6cea6e4aefb6a02d832dba78a310
filelock==3.18.0
Flask==3.1.0
flask-cors==5.0.1
groq==0.23.1
gunicorn==23.0.0
numpy==2.2.5
pandas==2.2.3
pdfplumber==0.11.6
pillow==11.2.1
PyMuPDF==1.25.5
pymupdf4llm==0.0.21
pytesseract==0.3.13
referencing==0.36.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Werkzeug==3.1.3

